* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
  font-family: Arial, sans-serif;
  background-color: rgba(255, 208, 255, 0.4);
}
header {
  background-color:rgb(116, 61, 116);
  padding: 20px;
  color: #fff;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul li a:hover {
color: gold;
}
.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 9vh;
    background-color: rgb(116, 61, 116);;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 50%;
    transform: translateY(1%);
   
    transition: transform 0.5s ease-in;
  }

  
  .nav-links.nav-active {
    transform: translateX(0);
    opacity: 0;
  }

  .nav-links li {
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    background-color: rgba(226, 136, 226, 0.637);
    width: 100%;
    text-align: center;
  }
  .nav-links li:hover {
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
    background-color: #cccccc03;
    width: 100%;
    text-align: center;
  }

  .nav-links.nav-active li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
 

}

.slider-container {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  margin-bottom: -5%;
  z-index: -1;
  

}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 136, 226, 0.728); /* تعديل لون الغطاء وشفافيته حسب الحاجة */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.slider-overlay ul {
  list-style-type: none;
  font-size: 30px;
  line-height: 40px;
}

.slider-overlay.show {
  opacity: 1;
}

.slider-text {
  padding: 20px;
}

.slider-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.name {
  text-align: center;
  line-height: 40px;
  display: inline-block;
  animation: moveNames 3s infinite ease-in-out alternate;
}

/* @keyframes moveNames {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */



/* ---------------- */
.carding{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;

}
.card {
  border-radius: 20px;
  position: relative;
  padding: 0 10px;

}

.card-image {
  position: relative;
  max-width: 300px;
  height:350px ;
  border-radius: 20px;
}

.card-image img {
  width: 100%;
  height:350px ;
  object-fit: cover;
  border-radius: 20px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 20px;

}

.card-image:hover .card-overlay {
  opacity: 1;
 
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  text-align: center;
  

}

.card-details {
  text-align: center;

}



@media screen and (max-width: 768px) {
  .carding {
   
      display: grid;
      grid-template-columns: 1fr ;
 
  }


.card-image {
  position: relative;
   max-width: 100%;
  height: 350px;
  border-radius: 5px;
  margin-top: 10px;
}
  .card-image:hover .card-overlay {
    opacity: 1;

  }

}

.section_table{
  margin: 20px;
  background-color: rgba(226, 136, 226, 0.637);
  border-radius: 10px;
  padding: 0 15px;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
 
  
}

.table thead {
  width: 100%;
  background-color: #f1f1f15f;
  font-weight: bold;
}

.table th,
.table td {

  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: 300px;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #ebebeb;
}

.table button {
  width: 100%;
  background-color: rgba(226, 136, 226, 0.637);
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table button:hover {
  background-color: rgba(226, 136, 226, 0.979);
}



.video {
  position: relative;
  flex: 0 0 100%;
  background-color: rgba(226, 136, 226, 0.637);
  border-radius : 15px;
  padding: 0px;
  margin-bottom: 10px;
}


iframe{
  height: 600px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .sec3 {
    flex-direction: column;
  }
  
  .video, .table {
    flex: auto;
    width: 100%;
  }

  iframe{
    height: 300px;
  }
  
  .video {
    background-color:rgba(226, 136, 226, 0.637);
    border-radius : 10px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0;
   
  }
  .section_table{
    margin-top:0 ;
  }
}

/* --------footer---------- */
footer {
  background-color: rgb(116, 61, 116);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 15px;
  border-radius: 10px;
}

.footer-left,
.footer-center,
.footer-right {
  flex-basis: 30%;
}

.footer-left p,
.footer-center p,
.footer-right p {
  text-align: center;
}

.footer-left {
  background-color: lightblue;
}

.footer-center {
  background-color: lightgreen;
}

.footer-right {
  background-color: lightpink;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}